<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTERATION SUCCESSFUL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body style="max-width: 640px; margin: auto; font-family: 'Open Sans', sans-serif;">
    <header style="border-bottom: 4px solid #25a451; padding: 8px;">
        <div className="m-1 mb-5">
            <span className="font-Sans font-semibold  leading-7 text-[#202223] text-[21px]" > Welcome to </span>
            <span className="font-Sans font-semibold  leading-7 text-[#25a451] text-[21px]" > USER PORTAL </span>
          </div>
    </header>
    <section style="display: flex; letter-spacing: .5px;"> 
        <div style="    margin: auto;
        text-align: center;">
<img src="https://event-plus.s3.amazonaws.com/1689070673810-cakepop-amico1.png" alt="">
<h1 style="color: #384860; font-size: 24px; margin: unset; padding-bottom: 8px;">Registeration Successfully done!</h1>
<h5 style="color: #384860; font-size: 14px; margin:unset; letter-spacing: .5px;">Hi {name}! Congratulations on successfully creating your account in USER Portal.</h5>

<a style="text-decoration: none;color: white;background: #25a451;padding: 16px 56px;border-radius: 4px;font-size: 16px;margin-bottom: 32px;margin-top: 22px;display: block;width: 20%;margin: auto;margin-top: 16px;
margin-bottom: 16px;" href="https://localhost:3000/">Login link</a>
</div>
    </section>
</body>
</html>